body{
     font-family: "Plus Jakarta Sans", sans-serif !important;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    min-height: 100vh;

}
.container{
    flex:1; 
}
.navbar{
    height: 5rem;
    background-color: white;
}

.fa-compass{
    color: #fe424d;
    font-size: 3rem;
}


.nav-link{
    color: #222222 !important;
}

/* Footer */

.f-info-links a{
    text-decoration: none;
    color: #222222;
}

.f-info-links a:hover{
    text-decoration: underline;
}
.f-info-links, .f-info-socials , .f-info-brand{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.f-info-socials i{
    font-size: 1.3rem;
    margin-right: 1.3rem;

}

.f-info{
    text-align: center;
    height: 8rem;
    background-color:#ebebeb;
    display: flex;
    flex-wrap:wrap;
    justify-content: center;
    align-items: space-evenly;
}


/* Cards */
.listing-card{
    border: none;
    margin-bottom: 2rem;    ;
}
.card-img-top{
    border-radius: 1rem !important;
    height: 50vh !important;
    width: 100% !important ;
    object-fit: cover !important;
}
.card-body{
    padding:0 !important;

}
.card-text p{
    font-weight: 500 !important;
}

.listing-link{
    text-decoration: none;

}

/* Card effect */
.card-img-top:hover{
    opacity:0.9;
}

.add-btn{
    border: none !important;
    background-color: #fe424d;
    width: 8rem;
}

.btn-dark{
    width: 8rem;
}
/* Show page */

.show-img{
    height: 30vh;
}


/* MAP */

#map {
    height: 400px;
    width: 123vh;
}